/**
 * @name    SPlyrComponent
 * Simple webcomponent wrapper around the nice plyr library
 *
 * @example   html
 * <s-plyr src="my-cool-video.mp4" autoplay muted></s-plyr>
 *
 * @author    Olivier Bossel <olivier.bossel@gmail.com>
 */

/**
 * Print out the bare and style component css
 * @param 	{List<Color>} 		[$color=default] 		The color to generate
 */
@mixin s-plyr($color: default) {
  @include s-plyr-bare();
  @include s-plyr-style($color);
}

/**
 * Print out the bare component css
 */
@mixin s-plyr-bare() {
  @include s-component("s-plyr") {
    /* something */
  }
}

/**
 * Print out the style component css
 * @param 	{Color} 		[$color=default] 		The color to generate
 */
@mixin s-plyr-style($color: default) {
  @include s-component("s-plyr") {
    $plyr-color-main: s-color($color) !global;
    $plyr-video-control-bg-hover: s-color($color) !global;
    $plyr-audio-control-bg-hover: s-color($color) !global;
    $plyr-tab-focus-default-color: s-color($color) !global;
    $plyr-range-fill-bg: s-color($color) !global;
    @include plyr-mixins();
  }
}
